.card {
  background-color: aquamarine;
  margin-top: 10px;
  width: 60%;
  padding: 20px;
}
.all-posts {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.search-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  background-color: darkblue;
  padding: 30px;
}
input,
button {
  padding: 10px;
  font-size: medium;
  border-radius: 12px;
}
